.custom-tooltip1 {
  width: 100%;
  height: 45px;
  border: 1px solid cornflowerblue;
  overflow:auto;
}
.custom-tooltip1 p {
  margin: 5px;
  white-space:nowrap;
  font-weight: bold;
  text-align: left;
}

.custom-tooltip {
  width: 100%;
  height: 70px;
  border: 1px solid cornflowerblue;
  overflow:auto;
}

.custom-tooltip p {
  margin: 5px;
  white-space: nowrap;
}

.custom-tooltip p {
  font-weight: bold;
}

.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:#0a0a0a;
  width: 100vw;
}
.mycontainer {
  display: flex;
  width: 98vw;
  margin: 30px 5px 5px 5px;
  background-color: #0a0a0a;
}

.nav{
  height: 50px;
  display:block;
  position: relative;
}
.left {
  flex: 73%
}

.right {
  flex: 27%; 
  margin-left: 5px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000000;
  border-bottom: 1px solid #dfdddd;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__search {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #b8b2b2;
  border-radius: 4px;
}

.navbar__search:hover{
  border-color: rgb(233, 140, 18);
}

.navbar__button {
  padding: 5px 10px;
  background-color: #4e90f3;
  border: none;
  border-radius: 4px;
}

.navbar__button:hover{
  background-color: rgb(23, 105, 172);
  transform: scale(1.2);
}

.ag-custom-loading {
  height: 100%;
  width: 100%;
  background-image: url(loading.gif);
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  top: 50%;
}

.ag-custom-loading1 {
  /* height: 90vh;
  width: 100%; */
  /* justify-content: center;
  align-items: center; */
  /* background-image: url(loadnew.gif); */
  /* background-repeat: no-repeat; */
  background-position-x: center;
  /* position: absolute;
  margin-top: 10px; */
  text-decoration-color: whitesmoke;
}

.loadingText {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 150px; 
  color: white;
}

#afterSubmitDiv{
  z-index: 10;
}

#beforeSubmitDiv{
  z-index: 100;
}
