.custom-tooltip1 {
  height: 45px;
  border: 1px solid cornflowerblue;
  overflow: auto;
  white-space: nowrap;
  font-weight: bold;
  text-align: left;
}

.custom-tooltip {
  height: 70px;
  border: 1px solid cornflowerblue;
  overflow: auto;
  white-space: nowrap;
  font-weight: bold;
}



.custom-header-class {
  background-color: #f1f1f1;
  color: #000000;
  font-weight: bold;
}

.ag-custom-loading {
  height: 50%;
  width: 50%;
  background-image: url(../public/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30%;
  position: absolute;
  top: 12%;
  left: 25%
}

.ag-custom-loading2 {
  height: 50%;
  width: 50%;
  background-image: url(../public/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30%;
  position: absolute;
  top: 45%;
}
